.Container{
  padding: 40px;
}

header{
  display: flex;
  justify-content: space-between;
}

.logo {
  line-height: 1;
}

.logo > h1{
  font-size: 3em;
  font-weight: bold;
}

.logo > h2{
  font-size: 1.3em;
  font-weight: 400;
  color: #9D9D9D;
}

